.modal {
    background-color: black;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
    opacity: 0.5;
    width: 100%;
}

.modal__content {
    background-color: white;
    margin-top: 30vh;
    margin-left: 25%;
    width: 50%;
}